# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. matplotlib
4. tensorflow

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List popular development environment for Data Science

| Data Science Tools |
| ------------------ |
| Anaconda |
| Jupyter lab |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python
+ 1+1
+ 5-3
+ 4*6
+ 27/9
+ 2**3
+ 37%%9

In [16]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Authors:
Hector Li,
Yang Li